
@using Kulicha.Components.Layout

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(AuthLayout)"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(AuthLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    [Parameter]
    public string? View { get; set; }
}